.card{
    width:200px ;
    height: 30vh;
    background-color:var(--bg-secondary) ;
    border-radius: 5px;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    gap: 1vh;
    padding: 0.5em;
    border-radius: 20px !important;
    border: 4px solid white !important;
    transition: transform 0.3s ease-in-out;
    border: 1;
}

.card:hover{
    transform: scale(1.1);

}