.wrap-menu{
    background-color: var(--background-secondary);
    width: 100vw;
    position: fixed;
    top: 0;
    box-shadow: var(--shadow);
    justify-content: center;
    display: flex;
    font-size: 2.5vh;
    padding: 1rem;
    z-index: 999;
}

.nav-links {
    text-align: center;
}

.nav-links ul {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    gap: 2vh;

}

.nav-links ul li {
    padding: 8px 12px;
}

.nav-links ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;

}

.nav-links ul li:hover::after {
    width: 100%;
}