
.wrapAllContact{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-third);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    top: 2vh;
}

.wraph1{
    padding: 2rem;
    width: 100%;
    text-align: center;
    margin-top: 15vh;
}

.wraph2{
    padding: 2rem;
    width: 100%;
    text-align: center;
    display: flex;
    color: white;
    justify-content: center;
}

.wrapTwoDivs{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
}

.wrapMap{
    margin-bottom: 45vh;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    color: white;
    
}

.inputsDiv{
    padding: 1.8rem;
    width: 500px;
    height: 255px;
    background-color: red;
    margin-bottom: 45vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    border-radius: 20px !important;

}

input, textarea{
    width: 20vw;
    height: 3vh;
    border-radius: 20px !important;
    border: 4px solid white !important;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}