.wrap-tec{
    width: 100%;
    height: 100vh ;
    min-height: 80vh;
    background-color: var(--bg-third);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding: 4vh 0px;
    z-index: -1;
}

.wrap-cards-tec{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
}

.wrap-btns-tec{
    display: flex;
    gap: 1vw;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 50px;
}

.btnTec{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 20px !important;
    transition: ease-in-out 0.3s;
}

.btnTec:hover{
    background-color: black;
    transform: scale(1.1);
    color: white;
}
